body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(135deg, #1e1e2f, #2c2c54);
    color: white;
  }
  
  .app {
    padding: 30px;
  }
  
  .title {
    text-align: center;
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  
  .search {
    display: block;
    margin: 0 auto 40px auto;
    padding: 12px 20px;
    width: 50%;
    border-radius: 30px;
    border: none;
    outline: none;
    font-size: 16px;
  }
  
  .products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 25px;
  }
  
  .card {
    background: #2f2f4f;
    padding: 20px;
    border-radius: 18px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  }
  
  .card:hover {
    transform: translateY(-8px);
  }
  
  .card img {
    height: 160px;
    object-fit: contain;
    margin-bottom: 15px;
  }
  
  .price {
    font-weight: bold;
    margin: 10px 0;
    color: #00ffcc;
    font-size: 18px;
  }
  
  .category {
    font-size: 14px;
    color: #aaa;
  }
  